@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}
a {
  text-decoration: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1476842634003-7dcca8f832de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

a {
  color: cadetblue;
}

.container {
  margin: 30px auto;
}

.container .content {
  min-height: 90vh;
  background: rgba(84, 71, 71, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.1px);
  -webkit-backdrop-filter: blur(12.1px);
  border: 1px solid rgba(84, 71, 71, 0.42);
  position: relative;
  padding: 20px 80px;
}

.btn-group {
  background-color: rgb(182, 202, 255);
  border-radius: 10px;
  position: fixed;
  margin: 20px 200px;
}

/* ACCORDION */
.accordion {
  margin: 10px;
}

.accordion-title {
  text-align: center;
}

.accordion-item {
  background-color: transparent;
}

p iframe {
  width: 70%;
}

#app {
  margin: 10% auto;
  width: 400px;
  opacity: 0.9;
  background-color: cadetblue;
}

#app h1 {
  text-align: center;
  font-size: 2em;
  padding: 5px;
  color: white;
  background-color: rgb(35, 66, 0);
}

#app h2 {
  font-size: 1.25em;
  text-align: center;
}

#app table {
  border-collapse: collapse;
  width: 100%;
}

#app table td {
  font-size: 1em;
  padding: 1em;
}

#app table td:last-child {
  text-align: right;
}

#app table tr:nth-child(even) {
  background-color: transparent;
}

#app table tr:nth-child(odd) {
  background-color: rgb(182, 202, 255);
  color: rgb(44, 44, 44);
}

#app table td tr {
  font-size: 1em;
  padding: 0.5em;
}

#today,
#clock,
#userlocation {
  text-align: center;
}

/* PHONE DISPLAY */
@media only screen and (max-width: 800px) {
  .container {
    margin: 40px auto;
    /* background-color: rgb(6, 8, 75); */
  }
  .container .content {
    min-height: 80vh;
    padding: 5px;
  }

  .btn-group {
    width: 100%;
    margin: 5px 0px;
  }

  #app {
    margin: 10px auto;
    padding: 5% auto;
    width: 90%;
  }
}
