@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1428572402125-82b0e853c5d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 30px auto;
}
.container .content {
  height: 90vh;
  background: rgba(84, 71, 71, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.1px);
  -webkit-backdrop-filter: blur(12.1px);
  border: 1px solid rgba(84, 71, 71, 0.42);
  position: relative;
}

.btn-group {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  position: fixed;
  margin: 20px 200px;
}

/* PHONE DISPLAY */
@media only screen and (max-width: 800px) {
  .container {
    background-color: blue;
  }

  .content {
    min-height: 90vh;
  }

  .btn-group {
    width: 100%;
    margin: 5px 0px;
    background-color: red;
  }
}
